* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
header {
  background-color: rgb(163, 4, 102);
  padding: 10px;
}
aside {
  background-color: rgba(2, 2, 125, 0.781);
  padding: 10px;
  width: 30%;
}
footer {
  background-color: rgba(236, 227, 227, 0.915);
  padding: 10px;
  text-align: center;
}
main {
  display: flex;
  flex-wrap: nowrap;
  width: 95%;
  height: 480px;
}
.main-content {
  /* border: 3px solid red; */
  background-color: rgb(245, 245, 245);
  width: 100%;
  /* padding: 10px; */
}
.main-content p {
  /* border: 2px solid rebeccapurple; */
  background-color: white;
  border-radius: 10px;
  /* height: fit-content; */
  height: 210px;
  width: 24vw;
  padding: 10px;
  flex: 0 1 auto;
}
.upper-flex,
.lower-flex {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
